.TextBox {
    width: 80vw;
    height: 100%;
    background-color: #ffffffba;;
    border-radius: 8px;
    padding: 10px;
}

.text-content {
    text-align: left;
    color: rgb(65, 65, 65);
    font-size: 1.2em;
}

#textBoxContainer img {
    float: left;
    width: 250px;
    height: 300px;
    overflow: hidden;
    margin-right: 27.5px;
    margin: 15px;
    object-fit: cover;
}

@media screen and (max-width: 585px) {
    .text-box-img-container {
        float: unset;
        max-height: 200px;
        margin: 15px auto;
    }

    .text-box-img-container img {
        max-height: inherit;
    }

    .text-content {
        font-size: 1em;
    }
}
