@font-face {
  font-family: 'PlayfairDisplay';
  src: local('PlayfairDisplay'), url(./Images/PlayfairDisplay-VariableFont_wght.ttf)
  format('truetype')
}

* {
  font-family: 'PlayfairDisplay';
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
